<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Nom</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Champs requis">
            <input nz-input formControlName="name" id="name"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">Prénom</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Champs requis">
            <input nz-input formControlName="firstName" id="firstName"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Mail non valide">
            <input nz-input formControlName="email" id="email"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Age</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Age compris entre 18 et 99 ans">
            <nz-input-number [nzMax]="99" [nzMin]="18" formControlName="age" id="age" type="number"/>
        </nz-form-control>
    </nz-form-item>
        <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Adresse</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="adresse" formControlName="address"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Mot de passe</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Mot de passe non valide">
            <nz-input-group [nzSuffix]="suffixTemplate">
                <input
                    [(ngModel)]="password"
                    [type]="passwordVisible ? 'text' : 'password'"
                    formControlName="password"
                    nz-input
                    placeholder="Entrez votre mot de passe"
                />
            </nz-input-group>
            <ng-template #suffixTemplate>
        <span
            (click)="passwordVisible = !passwordVisible"
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            nz-icon
        ></span>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Confirmer</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Les mots de passe ne correspondent pas">
            <nz-input-group [nzSuffix]="confirmSuffixTemplate">
                <input
                    [(ngModel)]="confirmPassword"
                    [type]="passwordVisible ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    nz-input
                    placeholder="Confirmez votre mot de passe"
                />
            </nz-input-group>
            <ng-template #confirmSuffixTemplate>
        <span
            (click)="passwordVisible = !passwordVisible"
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            nz-icon
        ></span>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Ajouter un salarié</button>
        </nz-form-control>
    </nz-form-item>
</form>
