<nz-breadcrumb nzSeparator=">">
    <br>
    <div class="" style="height: 20%"></div>
    <div style="height: 20%"></div>
    <div>
        <div class="breadcrumb-text">
            <span nz-icon nzType="{{ pageService.icon }}" nzTheme="fill" style="font-size: 64px; margin-left: 12px"></span>

            <p style="font-size: 26px; margin-bottom: 0; margin-left: 12px; vertical-align: text-bottom;">{{ pageService.title }}</p>
            <p style="font-size: 20px; margin-bottom: 2px; margin-left: 16px" class="breadcrumb-text-mobile"> {{ pageService.text }} </p>


        </div>
<!--        <div class="breadcrumb-mobile">-->
<!--            <span nz-icon nzType="{{ pageService.icon }}" nzTheme="fill" style="font-size: 64px; margin-left: 12px"></span>-->

<!--            <p style="font-size: 26px; margin-bottom: 0; margin-left: 12px; vertical-align: text-bottom;">{{ pageService.title }}</p>-->
<!--            <p style="font-size: 20px; margin-bottom: 2px; margin-left: 16px"> {{ pageService.text }} </p>-->
<!--        </div>-->
    </div>
</nz-breadcrumb>
