<form (ngSubmit)="forgotPassword()" [formGroup]="validateForm" class="login-form" nz-form>
    <nz-form-item>
        <nz-form-control nzErrorTip="Veuillez entrer votre identifiant!">
            <label class="login-label">Entrez votre identifiant, vous recevrez un mail à cette adresse.</label>
            <nz-input-group nzPrefixIcon="user" class="login-input">
                <input formControlName="userName" nz-input placeholder="Identifiant" type="text"/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>


    <button [nzType]="'primary'" class="login-form-button login-form-margin" nz-button>Mot de passe oublié</button>
</form>
