<nz-table [nzData]="tuyauDeDevices" nzTableLayout="fixed" [nzScroll]="{ x: '1100px', y: '' }">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>QR Code</th>
        <th>Attribution</th>
        <th>Utilisateurs</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        @for (device of tuyauDeDevices; track device.id) {

            <ng-container>
                <tr>
                    <td><span nz-icon nzType="tablet" nzTheme="fill"
                              style="color:#00000050; font-size: 50px;"></span>{{ device.name }}
                    </td>
                    <td>{{ device.price | currency: 'EUR' : 'symbol' : '2.2-2' : 'fr' }}</td>
                    <td><nz-qrcode
                        nzValue="Nom de l'appareil: {{ device.name }}
                         Prix de l'appareil: {{ device.price | currency: 'EUR' : 'symbol' : '2.2-2' : 'fr' }}"
                        nzLevel="H"
                        [nzSize]="80"
                    ></nz-qrcode></td>
                    <td>{{ device.user ? device.user.firstName + ' ' + device.user.name : 'Non assigné' }}</td>
                    <td>
                        <nz-select [(ngModel)]="device.user_id" nzPlaceHolder="Sélectionnez un utilisateur">
                            <nz-option *ngFor="let user of users" [nzLabel]="user.name" [nzValue]="user.id"></nz-option>
                        </nz-select>
                    </td>
                    <td>
                        <button nz-button nzType="primary" (click)="updateDeviceUser(device)">Mettre à jour</button>
                        <a nz-popconfirm
                           nzPopconfirmTitle="Êtes-vous sûr de vouloir supprimer cet appareil ?"
                           (nzOnConfirm)="deleteDevice(device.id)"
                           nzOkText="Oui"
                           nzCancelText="Non">
                            <span nz-icon nzType="close" nzTheme="outline" style="font-size: 24px; color: red" title="Supprimer l'appareil"></span>
                        </a>
                    </td>

                </tr>
            </ng-container>
        }
    </tbody>
</nz-table>
