.login-form {
    max-width: 300px;
    min-width: 250px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    font-weight: 500;
    color: #FB3535;


}

.login-form-button {
    width: 100%;
    border-radius: 7px;
    box-shadow: 6px 3px 6px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    background-color: #4763EF;
}

.login-label {
    color: #707070 !important;
}

.login-input {
    border-radius: 7px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
