.icon {
    color: #707070;
    font-size: 43px;
}

.login-page {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ),
    url("../../../assets/media/images/background-images/login_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    @media (width <=768px) {
        padding-top: 80px;

    }
}

.login-container {
    background-color: rgba(240, 241, 252, 0.8);
    height: 100vh;
    width: 20vw;
    min-width: 300px;
    box-shadow: 6px 0 3px rgba(0, 0, 0, 0.16);
    @media (width <=768px) {
            height: 60vh;
        border-radius: 7px ;
        margin: auto;

        }
    }

    .login-title {
        color: #707070;
    }

