<nz-layout *ngIf="(currentUser$ | async) as user else loginTemplate" class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="sm"
              [nzCollapsedWidth]="0"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
        <div class="sidebar-logo">
            <a routerLink="">
                <img ngSrc="https://ng.ant.design/assets/img/logo.svg" alt="logo" width="48" height="48">
                <h1>GUPI</h1>
            </a>
        </div>
        <h2 class="profil-menu">{{ user.name }} {{ user.firstName }}</h2>
        <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="color-menu">
            @if (!isCollapsed) {
                <div routerLink="/files" class="menu-item" routerLinkActive="active-link"
                     style="background-color: #6087E2">
                    <img ngSrc="assets/media/icons/icon_file.svg" alt="Icône fichier" width="48" height="48">

                    <a class="menu-icon">Mes fichiers</a>
                    <img ngSrc="assets/media/icons/arrow_right.svg" alt="Icône flèche" class="menu-item-arrow"
                         height="44" width="44">
                </div>
            } @else {
                <a class="menu-icon-collapsed" routerLink="/files"><img ngSrc="assets/media/icons/icon_file.svg"
                                                                        alt="Icône fichier"
                                                                        routerLinkActive="active-link active-link-collapsed"
                                                                        width="36" height="36"></a>
            }
            @if (!isCollapsed) {
                <div routerLink="/notification" class="menu-item" routerLinkActive="active-link"
                     style="background-color: #3CFA46">
                    <img ngSrc="assets/media/icons/icon_notif.svg" alt="Icône notifications" width="48" height="48">

                    <a class="menu-icon">Notifications</a>
                    <img ngSrc="assets/media/icons/arrow_right.svg" alt="Icône flèche" class="menu-item-arrow"
                         height="44" width="44">
                </div>
            } @else {
                <a class="menu-icon-collapsed" routerLink="/notification"><img
                    ngSrc="assets/media/icons/icon_notif.svg" alt="Icône notifications" width="36"
                    routerLinkActive="active-link active-link-collapsed" height="36"></a>
            }
            @if (!isCollapsed) {
                <div routerLink="/materiel" class="menu-item" routerLinkActive="active-link"
                     style="background-color: #FA3C89">
                    <img ngSrc="assets/media/icons/icon_computer.svg" alt="Icône matériel" width="48" height="48">

                    <a class="menu-icon">Matériel</a>
                    <img ngSrc="assets/media/icons/arrow_right.svg" alt="Icône flèche" class="menu-item-arrow"
                         height="44" width="44">
                </div>
            } @else {
                <a class="menu-icon-collapsed" routerLink="/materiel" routerLinkActive="active-link"><img
                    ngSrc="assets/media/icons/icon_computer.svg" alt="Icône matériel" width="36"
                    routerLinkActive="active-link active-link-collapsed" height="36"></a>
            }
            @if (this.apiService.isAuthorized("ADMIN")){

            @if (!isCollapsed) {
                <div routerLink="/rh" class="menu-item" routerLinkActive="active-link"
                     style="background-color: #FAC23C">
                    <img ngSrc="assets/media/icons/icon_rh.svg" alt="Icône rh" width="48" height="48">

                    <a class="menu-icon">Gestion RH</a>
                    <img ngSrc="assets/media/icons/arrow_right.svg" alt="Icône flèche" class="menu-item-arrow"
                         height="44" width="44">
                </div>
            } @else {
                <a class="menu-icon-collapsed" routerLink="/rh" routerLinkActive="active-link"><img
                    ngSrc="assets/media/icons/icon_rh.svg" alt="Icône rh" width="36"
                    routerLinkActive="active-link active-link-collapsed" height="36"></a>
            }
            }
            @if (!isCollapsed) {
                <div routerLink="/profil" class="menu-item" routerLinkActive="active-link"
                     style="background-color: #A55F7B">
                    <img ngSrc="assets/media/icons/icon_profile.svg" alt="Icône profil" width="48" height="48">

                    <a class="menu-icon">Mon profil</a>
                    <img ngSrc="assets/media/icons/arrow_right.svg" alt="Icône flèche" class="menu-item-arrow"
                         height="44" width="44">
                </div>
            } @else {
                <a class="menu-icon-collapsed" routerLink="/profil" routerLinkActive="active-link"><img
                    ngSrc="assets/media/icons/icon_profile.svg" alt="Icône profil" width="36"
                    routerLinkActive="active-link active-link-collapsed" height="36"></a>
            }


        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
                  nz-icon
                  [nzType]="isCollapsed ? 'right-circle' : 'left-circle'"
                  nzTheme="fill"
            ></span>
        </span>
                <app-user-icon></app-user-icon>

            </div>
        </nz-header>


        <app-breadcrumb></app-breadcrumb>

        <nz-content>

            <div class="inner-content">
                <router-outlet></router-outlet>
                <!-- Messagerie instantanée  -->
                <app-chat/>

            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
<ng-template #loginTemplate>
    <app-login></app-login>
    <!--    <router-outlet></router-outlet>-->
</ng-template>
