<nz-badge [nzCount]="activeCount" style="margin-right: 24px;" class="user-icon">
    <span nz-icon nzType="user" nzTheme="outline" nz-popover
          nzPopoverTitle="Menu utilisateur"
          [(nzPopoverVisible)]="visible"
          (nzPopoverVisibleChange)="change($event)"
          nzPopoverTrigger="click"
          [nzPopoverContent]="contentTemplate"
          nzPopoverPlacement="bottomRight"></span>
</nz-badge>

<ng-template #contentTemplate>
    <a routerLink="profil">Mes informations</a><br>
    <a routerLink="notification">Notifications</a><br>
    <a (click)="logout()">Se déconnecter</a><br>
    <a (click)="clickMe()">Fermer</a>
</ng-template>
